* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

$grey: #999;
$greyMid: #777;
$greyDark: #333;

$red: #FF7A78;
$redMid: #dc6563;

$blue: #638cea;
$blueMid: #4c72cb;

$green: #55ec5c;
$greenMid: #00c62b;
$greenDark: #00c62b;

$yellow: #f1eb48;

$purple: #ba56ee;

$orange: #ffbc48;

$teal: #6debec;

$lime: #c3ec82;

// Type
p, a, b, label, input[type="text"], input[type="email"], textarea, li {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  margin: 0;
  padding: 0.2em 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: $grey;
  border-bottom: 4px solid $greyMid;

  -webkit-transition: background-color 0.2s, border-bottom 0.2s;
  transition: background-color 0.2s, border-bottom 0.2s;

  &.about {
    background-color: $red;
    border-bottom: 4px solid $redMid;
  }
  &.portfolio {
    background-color: $blue;
    border-bottom: 4px solid $blueMid;
  }
  &.contact {
    background-color: $green;
    border-bottom: 4px solid $greenMid;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0.2em 0.8em 0.2em 0.4em;
  }
  ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    li {
      display: inline-block;
      margin: 0 0.2em 0 0;
      padding: 0;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s;

      &.about:hover { background-color: $red; }
      &.portfolio:hover { background-color: $blue; }
      &.contact:hover { background-color: $green; }

      a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 0.6em 0.8em;
      }
    }
  }
}

header {
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: $greyDark;
  text-align: center;
  h1 {
    position: absolute;
    padding: 0.4em 0.2em;
    color: #fff;
    top: 60%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

main {
  padding-bottom: 2em;
  h1 {
    width: 100%;
    padding: 0.5em 0;
    span {
      width: 1000px;
      margin: 0 auto;
      display: block;
    }
  }
  section {
    padding: 8em 0;

    &#about {
      h1 {
        border-bottom: 4px solid $red;
      }
      ul {
        list-style: square;
        li {
          a {
            color: #638cea;
            text-decoration: none;
            &:hover {
              color: $blueMid;
            }
          }
        }
      }
      article {
        display: flex;
        .content {
          flex: 1;
        }
        .image {
          flex: 0 0 16em;
          padding: 1em 0;
          img {
            width: 100%;
            padding: 0.6em;
            border: 1px solid #aaa;
          }
        }
      }
    }
    &#portfolio {
      > h1 {
        border-bottom: 4px solid $blue;
        display: inline-block;
        position: relative;
        &:after {
          text-align: right;
          width: 1000px;
          color: #777;
          content: 'click for more details';
          font-size: 0.6em;
          font-weight: 300;
          position: absolute;
          right: 0;
          left: 0;
          margin: 0 auto;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      article {
        padding: 0.8em 1em;
        margin: 0.6em auto;
        h2 {

        }
        h3 {
          color: #999;
        }
        p {
          padding: 0.2em 1em;
        }
      }
      .portfolioItems {
        padding: 0.5em 0;
        article {
          padding: 0;
          &:nth-of-type(1) { border-left: 4px solid $yellow; }
          &:nth-of-type(2) { border-left: 4px solid $blue; }
          &:nth-of-type(3) { border-left: 4px solid $red; }
          &:nth-of-type(4) { border-left: 4px solid $green; }
          &:nth-of-type(5) { border-left: 4px solid $orange; }
          &:nth-of-type(6) { border-left: 4px solid $teal; }
          &:nth-of-type(7) { border-left: 4px solid $purple; }
          &:nth-of-type(8) { border-left: 4px solid $lime; }

          .portfolioHeader {
            cursor: pointer;
            position: relative;
            padding: 0.4em 1.2em;
            background-color: #f5f5f5;
            h1, h2, h3 {
              width: auto;
              display: inline-block;
              padding: 0.2em 0;
            }
            h3 {
              font-size: 0.9em;
              padding-left: 1em;
            }
            p {
              padding: 0 2em 0 0.4em;
              margin: 0.2em 0;
              color: #666;
            }
            &::after {
              content: 'More Info';
              font-family: 'Open Sans', sans-serif;
              color: #ccc;
              position: absolute;
              right: 12px;
              top: 50%;
              transform: translateY(-50%);
              transition: color 0.2s;
            }
            &:hover::after {
              color: $blue;
            }
          }

          .portfolioContent {
            display: flex;
            padding: 0.4em 1.2em;
            background-color: #fafafa;
            .images {
              flex: 0 0 12em;
              img {
                width: 100%;
                margin: 0.3em;
                padding: 0.2em;
                border: 1px solid #ccc;
                cursor: pointer;
              }
            }
            .description {
              flex: 1;
              padding: 1em 2em;

              a {
                color: $blue;
                text-decoration: none;
              }

              .skills {
                padding: 0;
                margin: 0;
                &:before {
                  content: 'Skills: ';
                  display: inline-block;
                  font-weight: 700;
                  font-family: 'Open Sans', sans-serif;
                  padding-right: 0.4em;
                }
                li {
                  display: inline-block;
                  &:after {
                    content: ', ';
                    display: inline-block;
                    font-family: 'Open Sans', sans-serif;
                    padding-right: 0.4em;
                  }
                  &:last-of-type:after {
                    content: '';
                  }
                }
              }
            }
          }

        }
      }
      .education {
        width: 1000px;
        margin: 0 auto;
        article {
          &:nth-of-type(1) { border-left: 4px solid #E31837; }
        }
      }
    }
    &#contact {
      h1 {
        border-bottom: 4px solid $green;
      }
    }

    article {
      width: 1000px;
      margin: 0 auto;
    }
  }

  form {
    label {
      display: block;
      font-size: 1.1em;
    }
    input, textarea {
      width: 100%;
      font-size: 1.1em;
      padding: 0.3em 0.6em;
      margin: 0 0 1em;
      font-weight: 300;

      border: none;
      border-bottom: 2px solid $greyMid;
      -webkit-transition: border-bottom 0.2s;
      transition: border-bottom 0.2s;
      outline: none;

      &:focus {
        border-bottom: 2px solid $greenDark;

      }
    }
    input[type="submit"] {
      background-color: $green;
      color: #fff;
      width: auto;
      padding: 0.4em 1.2em;
      border-bottom: 2px solid $greenDark;
      cursor: pointer;
      &:hover {
        background-color: #4fde56;
      }
    }
  }
}

footer {
  color: #fff;
  width: 100%;
  background-color: $grey;
  text-align: center;
  p {
    margin: 0;
    padding: 0.8em 0;
    font-size: 0.9em;
    font-weight: 300;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}

.imageBox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  .imageBoxInner {
    margin: 0 auto;
    overflow: hidden;
    max-width: 140vh;
    max-height: 90vh;
    padding: 1em;
    background-color: #fff;
    img {
      width: 100%;
    }
  }
}

/*Tablet*/
@media (max-width: 48em){

}
@media (max-width: 1000px){
  main {
    section  {
      article {
        width: 100%;
        padding: 0 1em;
      }
      &#portfolio {
        > h1:after {
          width: 100% !important;
        }
        .education {
          width: 100%;
        }
        .portfolioContent {
          flex-direction: column;
          .images {
            display: flex;
            flex-direction: row;
            padding: 0 1em;
            img {
              flex: 1;
              width: 0 !important;
            }
          }
        }
      }
      &#about {
        article {
          flex-direction: column-reverse;
        }
        .image {
          width: 60%;
          text-align: center;
          margin: 0 auto;
        }
      }
      &#contact {
        padding: 18em 0;
      }
    }
    h1 span {
      width: 100%;
      padding: 0 1em;
    }
  }
}
